{{- with .GetTerms "jobs_places" }}
  {{- $places := slice -}}
  {{- range . }}
    {{- $place := partial "func/GetRealPlace" . -}}
    {{- with $place }}
      {{- $name := cond (isset .Params.address "city") .Params.address.city .Title -}}
      {{- $places = $places | append (partial "func/PrepareHTML.html" $name) -}}
    {{ end -}}
  {{ end -}}
  {{- with $places }}
    <p class="job-places" itemprop="jobLocation" itemscope itemtype="https://schema.org/Place">{{ delimit . ", "}}</p>
  {{ end -}}
{{ end -}}