{{- with .GetTerms "jobs_places" }}
  {{- $places := slice -}}
  {{- range . }}
    {{- $place := partial "func/GetRealPlace" . -}}
    {{- with $place }}
      <aside class="place" itemscope itemtype="https://schema.org/Place" {{- partial "func/SetAnim" (dict "element" "item") }}>
        <a href="{{ .Permalink }}" itemprop="url" class="content">
          {{ partial "places/item/company" . }}
          {{ partial "places/item/title" . }}
          {{ partial "places/item/address" . }}
          {{ partialCached "commons/item/more" . }}
        </a>
      </aside>
    {{ end -}}
  {{ end -}}
{{ end -}}